<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.app.dao.AppInfoMapper">
       <select id="findAllApp" resultType="AppInfo">
        
                SELECT * FROM app_info 
                 <trim  prefix="where" prefixOverrides="AND|OR">
                        <if test="softwareName!=null||softwareName!=''" >
                          AND softwareName like '%${softwareName}%'        
                        </if>
                        <if test="interfaceLanguage!=null||interfaceLanguage!=''">
                        AND  interfaceLanguage like '%${interfaceLanguage}%'
                </if>
                 LIMIT #{currentPageNo},#{pageSize} 
                 
                 </trim>
       </select>
       <select id="findAppNum" resultType="java.lang.Integer">
                SELECT count(*) FROM app_info 
                       <trim  prefix="where" prefixOverrides="AND|OR">
                        <if test="softwareName!=null||softwareName!=''" >
                          AND softwareName like '%${softwareName}%'   
                        </if>
                        <if test="interfaceLanguage!=null||interfaceLanguage!=''">
                        AND  interfaceLanguage like '%${interfaceLanguage}%'
                </if>
                </trim>
       </select>
       <select id="deleteAppById" resultType="java.lang.Integer">
        
               DELETE FROM app_info where id = #{id}
       </select>
       <select id="setAppStatus" resultType="java.lang.Integer">
        
               update app_info set `status`=#{status} where id=#{id};
       </select>
</mapper>